@CHARSET "ISO-8859-1";

.spacer{
	padding-top:100px;
	padding-bottom:100px;
}
.form{
	padding-left: 50px;
	width: 600px;
}
body{
	background-color: #FFFCE2;	
}
header{
	height: 50px;
}
footer{
	height: 200px;
}
.table-hover{
	cursor: pointer;
}
.col-md-3{
	margin-top:10px;
}
.form-inline .form-group{
	margin-left:10px;
}
.userClan{
	display:none;
}
#divPassword, #location{
	display: none;
}

